DirectoryIndex disabled

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ProxyPassReverse / http://127.0.0.1:3200/
RewriteRule ^(.*)$ http://127.0.0.1:3200/ [P,L]
